body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    background: url('lights.jpg') center/cover no-repeat; /* Default background image */
    transition: background 0.5s ease;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
}

form {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
}

input[type="text"], input[type="button"] {
    font-size: 1rem;
    margin-bottom: 10px;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

table {
    width: 100%;
    max-width: 500px;
    border: 1px solid white;
    padding: 20px;
    border-spacing: 15px;
    margin-top: 20px;
}

table th {
    font-size: 1.5rem;
    color: white;
}

table td {
    border: 1px solid white;
    height: 50px;
    font-size: 1rem;
    padding: 1rem;
}

input[type="button"] {
    background-color: pink;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #ff66b2;
}

button {
    margin-left: 15px;
    font-size: 1rem;
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: auto; /* Move to the bottom of the container */
}

#image {
    width: 100%;
    border: 1px solid white;
}

.image-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.image-buttons input[type="button"] {
    margin-left: 10px;
    font-size: 1rem;
    background-color: pink;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-buttons input[type="button"]:hover {
    background-color: #ff66b2;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    table {
        font-size: 0.8rem;
    }

    table th {
        font-size: 1rem;
    }

    table td {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    form {
        margin-top: 5px;
    }

    input[type="text"], input[type="button"] {
        font-size: 0.9rem;
    }

    table {
        font-size: 0.7rem;
    }

    table th {
        font-size: 0.9rem;
    }

    table td {
        font-size: 0.7rem;
        height: 40px;
    }

    button {
        font-size: 0.7rem;
    }
}